#content_header_margin
javascript:
    var content_header_margin = getComputedStyle(document.getElementById('header')).height;
    document.getElementById('content_header_margin').style.height = content_header_margin;