.admin_nav {
  position: fixed;
  left: 0;
  top: 100px;
  height: auto;
  width: 100px;
  border: 1px solid gray;
  border-left: 0;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  background-color: lemonchiffon;

  li {
    padding-left: 10px;
  }
}