$bottom-nav-icon-font-size: 26px !default;
$bottom-nav-icon-margin-bottom: 8px !default;
$bottom-nav-label-font-size-inactive: 12px !default;
$bottom-nav-label-font-size-active: 12px !default;

@import '~material-bottom-nav';

.bottom-nav {
  @include bottom-nav($background-color: #ffffff, $active-color: #155c8f, $inactive-color: gray, $hide-inactive-labels: false);
}