$body_background: #ffffff;
$header_background: #ffffff;
$dark_background: #ffffff;
$white_background: #ffffff;
$content_background: #ffffff;

$brand_color: #155c8f;

$header_font_family: Arial,
Helvetica,
sans-serif;
$header_bold_font_family: Arial,
Helvetica,
sans-serif;
$brand_font_family: sans-serif;
$text_font_family: sans-serif;
$text_font_size: 1.2em;
$text_font_size_small: 80%;
$default_font_color: rgba(0, 0, 0, .87);
$default_line_color: #32a3ae;
$default_bar_hover_color: #32a3ae;

$footer_text_color: #ffffff;
$footer_background_color: #222629;

$header_text_color: #6c757d;
$header_hover_color: #9d9d9d;
$header_height: 70px;

$primary_calltoaction_border: #5ca2df;
$primary_calltoaction_background: #5ca2df;
$primary_calltoaction_hover_background: #5ca2df;
$primary_calltoaction_color: white !important;

$secondary_calltoaction_border: #a6a6b2;
$secondary_calltoaction_background: #ffffff;
$secondary_calltoaction_hover_background: #a6a6b2;
$secondary_calltoaction_color: #6c757d;

$default_text_margin: 40px;

$break-extrasmall: 500px;
$break-small: 700px;
$break-medium: 992px;
$break-large: 1240px;
$break-extralarge: 2000px;

$link_color: #5ca2df !default;
$link_hover_color: #5ca2df !default;
$link_focus_color: $link_hover_color !default;
$link_active_color: $link_color+#5ca2df !default;
$link_visited_color: $link_color !default;
$link_visited_color: $link_color !default;