$body_background: #f5f5f5;
$header_background: #ffffff;
$dark_background: #ffffff;
$white_background: #ffffff;
$content_background: #ffffff;

$header_font_family: Arial,
Helvetica,
sans-serif;
$header_bold_font_family: Arial,
Helvetica,
sans-serif;
$brand_font_family: sans-serif;
$text_font_family: sans-serif;
$text_font_size: 1.2em;
$text_font_size_small: 80%;
$default_font_color: #5a5656;
$default_line_color: #32a3ae;
$default_bar_hover_color: #32a3ae;

$header_text_color: #2f2f33;
$header_hover_color: #9d9d9d;
$header_height: 70px;

$primary_calltoaction_border: #ff8500;
$primary_calltoaction_background: #ff8500;
$primary_calltoaction_hover_background: #ff8500;
$primary_calltoaction_color: #ffffff !important;

$secondary_calltoaction_border: #a6a6b2;
$secondary_calltoaction_background: #a6a6b2;
$secondary_calltoaction_hover_background: #4cb9be;
$secondary_calltoaction_color: #ffffff;

$default_text_margin: 40px;

$cookies-eu-background-color: #F2F2F2;
$cookies-eu-border-color: #E4E4E4;

$break-extrasmall: 500px;
$break-small: 700px;
$break-medium: 992px;
$break-large: 1240px;
$break-extralarge: 2000px;

$link_color: #ffffff !default;
$link_hover_color: #ffffff !default;
$link_focus_color: $link_hover_color !default;
$link_active_color: $link_color+#cc0000 !default;
$link_visited_color: $link_color !default;
$link_visited_color: $link_color !default;