.cc-revoke.cc-top {
  left: 1em;
  font-size: 70%;
  background-color: #fff !important;
  border: 1px solid rgb(237, 239, 245);
  border-top-width: 0;
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 74px;
}