body {
  background-color: $body_background;
  font-family: $text_font_family;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: $text_font_size;
  word-wrap: break-word;
  color: $default_font_color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header-title {
  color: $footer_text_color;
  text-align: center;
  padding: 20px;
  height: 75px;
  background: -webkit-gradient(linear, left top, right top, from($footer_background_color), to(white));
  background: linear-gradient(to left, $footer_background_color 30%, white 100%);

  font-size: 1.1em;

  @include breakpoint($break-medium) {
    font-size: 1.4em;
  }
}

.announcement {
  text-align: center;
  padding: 1.6875em 0;
  background: linear-gradient(to right,
      #f2f4f4 0%,
      white 100%);
}

.product_cta {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom,
      white 0%, white 45%,
      #f2f4f4 100%);
  padding: 7em 0 12em;
}

.product_cta .content .heading {
  text-align: left;
  width: 50%;
  padding: 0 2em 0 0;
  margin: 0;
}

.page-title {
  border-bottom: 1px solid #b7c7cf;

  h2,
  h1,
  .h2,
  .h1 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 400;
    word-wrap: break-word;
  }
}

h3 {
  margin: 2.5rem 0 1rem !important;
  font-size: 1.6rem !important;
}

h2 {
  margin: 2.5rem 0 1rem !important;
}

li {
  line-height: 2em;

  &.nolist {
    padding-left: 0 !important;

    &:before {
      content: none !important;
    }
  }
}

ul:not(.nolist) {
  li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;

    &:before {
      content: "\f105";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: gray;
      padding-right: 0.5em;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.check:before {
      content: "\f00c";
    }

    &.cross:before {
      content: "\f00d";
    }

    &.conf:before {
      content: "\f013" !important;
    }
  }
}

ul,
ol {
  margin: 0;
}

strong {
  font-weight: 700 !important;
}

main {
  flex: 1 0 auto;
  min-height: 70%;

  &#content {
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

a,
a:link,
a:visited {
  outline: none 0;
  color: $link_color;
  text-decoration: none;
}

a:hover {
  color: $link_hover_color;
}

blockquote {
  background-color: #f9f9f9;
  border-left: 6px solid $primary_calltoaction_border !important;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 0 0 30px;
  font-style: italic;
  letter-spacing: 1px;
  padding: 20px 20px 20px 2.5rem !important;
  position: relative;
}

blockquote::before {
  content: "\f10d";
  color: $link_color;
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  left: 8px;
  top: 17px;
}

hr {
  border: 1px solid $header_background;
  margin-top: 60px;
}

.left {
  float: left;
}

.justify {
  text-align: justify;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.default_text_margin {
  margin-bottom: $default_text_margin;
}

img {
  border: 0px;
  max-width: 100%;
  vertical-align: initial;
}

span.bold,
p.bold,
li.bold {
  font-weight: bold;
}

.left_column,
.right_column {
  float: left;
  min-width: 40%;
}

sup,
sub {
  line-height: 0; // fix for sup,sub suggested by http://www.slideshare.net/maxdesign/line-height
}

.clear {
  clear: both;
}

.hidden,
.ui-helper-hidden-accessible {
  display: none;
}

#error_explanation {
  color: #E53935;
}