.thredded--main-container {
  max-width: 100% !important;
}

body {
  background-color: $body_background;
  font-family: $text_font_family;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: $text_font_size;
  word-wrap: break-word;
  color: rgba(0, 0, 0, .87);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.announcement {
  text-align: center;
  padding: 1.6875em 0;
  background: linear-gradient(to right,
      #f2f4f4 0%,
      white 100%);
}

.product_cta {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom,
      white 0%, white 45%,
      #f2f4f4 100%);
  padding: 7em 0 12em;
}

.product_cta .content .heading {
  text-align: left;
  width: 50%;
  padding: 0 2em 0 0;
  margin: 0;
}

.page-title {
  border-bottom: 1px solid #b7c7cf;

  h2,
  .h2 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 400;
    word-wrap: break-word;
  }
}

main {
  flex: 1 0 auto;
  min-height: 70%;

  &#content {
    padding: 10px;
  }
}

a,
a:link,
a:visited {
  outline: none 0;
  color: $link_color;
  text-decoration: none;

  &:hover {
    color: $link_hover_color;
  }
}

blockquote {
  background-color: #f9f9f9;
  border-left: 6px solid $primary_calltoaction_border !important;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 15px 20px 32px;
  position: relative;

  p {
    font-style: italic;
    font-size: 1.2em;
    margin: 0 5px;
    padding-left: 5px;
  }
}

blockquote::before {
  content: "\f10d";
  color:
    #5ca2df;
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  left: 8px;
  top: 17px;
}

hr {
  border: 1px solid $header_background;
  margin-top: 60px;
}

.left {
  float: left;
}

.justify {
  text-align: justify;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.default_text_margin {
  margin-bottom: $default_text_margin;
}

img {
  border: 0px;
  max-width: 100%;
  vertical-align: initial;
}

span.bold,
p.bold,
li.bold {
  font-weight: bold;
}

.left_column,
.right_column {
  float: left;
  min-width: 40%;
}

sup,
sub {
  line-height: 0; // fix for sup,sub suggested by http://www.slideshare.net/maxdesign/line-height
}

.clear {
  clear: both;
}

ul,
ol {
  margin: 0;
}

.hidden,
.ui-helper-hidden-accessible {
  display: none;
}

#error_explanation {
  color: #E53935;
}