
#flash {
  width: 100%;
  z-index: 1003;
  transition: height 0.3s ease-out;
  overflow: hidden;
  height: 0;

  .flash_message {
    a {
      text-decoration: underline;
    }
  }

  .error {
    a {
      color: $link_color;

      &:hover {
        color: $link_hover_color;
      }
    }
  }

  .success {
    background: #DDFCD5;
    color: #333333;
    border-color: #44A815;
  }

  .error, .alert {
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4;
  }

  .notice {
    background-color: #ffffbe;
    padding: 8px;
  }

  .feedback, .error, .alert, .notice, .success, .info {
    margin: 0;
    padding: 0.6em;
  }
}
