#footer {
  padding: 20px 20px 70px 20px;
  font-family: $text_font_family;
  background-color: $footer_background_color;
  color: $footer_text_color;

  @include breakpoint($break-large) {
    padding: 20px;
  }

  h4 {
    font-family: $header_font_family;
    margin-left: 0px;
  }

  a {
    text-decoration: none;
    color: $footer_text_color;
  }

  .copyright {
    font-family: $brand_font_family;
  }

  ul,
  ol {
    padding-left: 0px;
  }

  li {
    list-style: none;

    ul {
      margin-left: 20px;
    }
  }

  .float_right {
    @include breakpoint($break-large) {
      float: right;
    }
  }

  .segment {
    float: left;
    padding: 20px 20px 0px 20px;
    margin-right: 40px;

    &.right {
      float: right;
      padding-right: 0;
      margin-right: 0;
    }
  }
}