#header {
  z-index: 100;
  position: fixed;
  width: 100%;
  border-bottom: 4px solid $brand_color;

  #autohide {
    overflow: hidden;
    background-color: $header_background;
    transition: height 0.3s ease-out;
    height: $header_height;
  }

  #header_content {
    text-align: center;

    @include breakpoint($break-large) {
      text-align: left;
    }

    .logo {
      height: 55px;
      width: auto;
      margin: 8px 0 5px 0;

      @include breakpoint($break-large) {
        text-align: left;
        margin: 8px 5px 5px 0;
      }
    }

    .hover_menu {
      &#head_navigation {
        color: $header_text_color;
        float: right;
        margin-top: 18px;
        display: none;

        @include breakpoint($break-large) {
          display: block;
        }


        &:hover {
          background-color: $header_background;
        }

        a {
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 700;
          color: $header_text_color;
          text-transform: uppercase;
          letter-spacing: .2em;

          &.first {
            border-left: none;
          }
        }

        ul {
          position: absolute;
          width: 240px;

          .first-level {
            background-color: $header_background;
            padding-left: 0;
            padding-bottom: 0;
            z-index: 1005;
            right: auto;
            left: auto;

            li {
              float: none;

              &.mime {
                margin-left: 30px;
              }
            }
          }
        }

        li {
          float: left;

          &.entry {
            margin-top: 5px;
            list-style-type: none;
            position: relative;
            padding-left: 5px;
          }

        }
      }

      margin: 0;
      list-style-type: none;

      &:hover {
        background-color: $content_background;
      }

      ul {
        list-style-type: none;
        line-height: 1.6em;

        .first-level {
          display: none;
          position: absolute;
          right: 0;
          left: 0;
          background-color: $content_background;
          z-index: 1005;
          padding-left: 19px;
          padding-top: 10px;
          padding-bottom: 10px;
          float: left;
          font-weight: normal;
          border-bottom: 2px solid $header_background;

          li {
            float: left;

            ul {
              li {
                a {
                  height: auto;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}