.landingpage {

  h1 {
    color: #354656;
    font-weight: 400;
    margin: 0px 0 6px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }

  h2 {
    line-height: 110%;
    color: #ffffff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  }

  img {
    margin: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: -20px;
  }

  .me {
    @include breakpoint($break-medium) {
      height: 500px;
    }

    @include breakpoint($break-large) {
      height: 600px;
    }

    height: 300px;

    .contain {
      position: absolute;
      width: 100%;

      #me-header {
        position: relative;

        @include breakpoint($break-medium) {
          height: 450px;
        }

        @include breakpoint($break-large) {
          height: 550px;
        }

        height: 300px;
      }

      #me-caption {
        position: absolute;
        bottom: 40px;
        left: 30px;
        width: 60%;

        .flex-btn {
          margin-top: 15px;
          margin-right: 15px;
        }

        @include breakpoint($break-medium) {
          left: 20%;
          width: 30%;
        }

        h2 {
          color: $default_font_color;
        }
      }
    }
  }

  .slide-caption {
    background-color: transparent;
    border-radius: 10px;
    height: auto;
    margin: 0;
    padding: 25px 20px 30px;
    position: absolute;
    z-index: 0;
    top: 22%;
    width: 50%;

    @include breakpoint($break-medium) {
      top: 50%;
      width: 30%;
    }

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h2 {
      word-wrap: break-word;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 12px;

      @include breakpoint($break-medium) {
        font-size: 30px;
        line-height: inherit;
        margin: 0 0 16px;
      }

      margin: 0 0 2px;
      margin-bottom: 2px;
    }

    p {
      color: #ffffff;
      margin: 0 0 17px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
      letter-spacing: 0.5px;
    }

    .flex-btn {
      font-size: 75% !important;

      @include breakpoint($break-medium) {
        font-size: 100% !important;
      }
    }
  }
}