.landingpage {

  .header-title {
    background-color: $footer_background_color;
    color: $footer_text_color;
    text-align: center;
    padding: 15px 0 10px 0;
  }

  h1 {
    color: #354656;
    font-weight: 400;
    margin: 0px 0 6px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }

  h2 {
    line-height: 110%;
    color: #ffffff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  }

  img {
    margin: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: -20px;
  }

  .slide-caption {
    background-color: transparent;
    border-radius: 10px;
    height: auto;
    margin: 0;
    padding: 25px 20px 30px;
    position: absolute;
    z-index: 0;
    top: 22%;
    width: 50%;

    @include breakpoint($break-small) {
      top: 50%;
      width: 30%;
    }

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h2 {
      word-wrap: break-word;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 12px;

      @include breakpoint($break-small) {
        font-size: 30px;
        line-height: inherit;
        margin: 0 0 16px;
      }

      margin: 0 0 2px;
      margin-bottom: 2px;
    }

    p {
      color: #ffffff;
      margin: 0 0 17px;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
      letter-spacing: 0.5px;
      display: none;

      @include breakpoint($break-medium) {
        display: block;
      }
    }

    .flex-btn {
      font-size: 75% !important;

      @include breakpoint($break-small) {
        font-size: 100% !important;
      }
    }
  }

  p {
    margin: 0 0 17px;
    display: none;
    text-align: justify;

    @include breakpoint($break-medium) {
      display: block;
    }
  }
}