.product-table {
  td {
    padding: 5px 0px;

    @include breakpoint($break-medium) {
      padding: 10px 15px;
    }

    &.feature {
      width: 250px;
      border-right: 2px solid #ff8500;
    }

    &.value {
      text-align: center;
      width: 20%;
    }
  }

  tr {
    &.row2 {
      background: #ffffff;
    }

    &.header {
      border-bottom: 2px solid #ff8500;
      font-weight: bold;
      font-size: 1.2em;
      position: sticky;
      top: 65px;
      background-color: #ffffff;

      @include breakpoint($break-large) {
        top: 0;
      }
    }
  }

  .btn {
    padding: 8px;
    margin-right: 0;

    @include breakpoint($break-medium) {
      padding: 7px 30px;
    }
  }

  .fa.fa-check-circle {
    color: forestgreen;

    &.no {
      color: lightgrey;
    }
  }
}