#references {
  border: 1px solid darkgray;
  padding: 20px 20px 0 20px;

  .bx-wrapper {
    margin-bottom: 0;
  }

  .bx-wrapper .bx-controls-direction .bx-prev {
    display: none;
  }

  .bx-wrapper .bx-controls-direction .bx-next {
    display: none;
  }
}