#references {
  border: 1px solid #e5e4e3;
  padding: 20px 20px 0 20px;

  .bx-wrapper {
    margin-bottom: 0;
  }

  .bx-wrapper .bx-controls-direction .bx-prev {
    display: none;
  }

  .bx-wrapper .bx-controls-direction .bx-next {
    display: none;
  }

  p {
    margin-top: 5px;
  }

  img {
    float: left;
    margin-right: 20px;
  }
}