.search_form {
  padding-left: 10px;
  margin-bottom: 10px;

  .detailed_search {
    width: 100%;
  }

  .search-tile {
    float: left;
  }

  .search-bar {
    .field_wrapper {
      display: block;
      overflow: hidden;
    }

    #search {
      width: 85%;
      @include breakpoint($break-small) {
        width: 92%;
      }
    }

    .search_button_mobile {
      float: right;
    }

    table {
      width:100%;

      td.search_btn {
        width:120px;
      }
    }
  }
}
