h2= t('.action')
p= t('.greeting', recipient: @user.first_name)
p= t('.instruction')
p= link_to t('.action'), edit_user_password_url(locale: I18n.locale, reset_password_token: @token)
p= t('.instruction_2')
p= t('.instruction_3')
